<div class="header bg-gradient-danger  pt-6 ">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        </div>
    </div>
  </div>

  <div class="space-top">
   
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
      
      
    </div>
    

  </div>
