.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 50px;
    padding-top: 23px;
    
  }
  
  .map-frame {
    border: 2px solid black;
    height: 70vh;
  }
  
  #map {
    height: 100vh;
  }

  .space-top {
      padding-top: 200px;
  }