<div class="header  pt-3 pt-lg-3 d-flex align-items-center" style="min-height: 400px;  background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center pb-7 ">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h1 class="display-2 text-white">{{ this.result.name }}</h1>
          
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid  mb-6  mt--7">
    <div class="row">
        <div class="col-xl-4">
            <div class="card shadow">
              <div class="card-header bg-transparent">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-uppercase text-muted ls-1 mb-1"></h6>
                    <h2 class="mb-0">Today Report</h2>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <!-- Chart -->
                <div class="chart">
                  <canvas id="chart-orders" class="chart-canvas"></canvas>
                </div>
              </div>
            </div>
          </div>
      <div class="col-xl-8 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <a href="/tracking/map" class="btn btn-sm btn-info mr-4">Back</a>
              <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Request Report</a>
            </div>
          </div>
          <div class="card-body pt-0  pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    <span class="heading">{{ this.result.type}}</span>
                    <span class="description">Type</span>
                  </div>
                  <div>
                    <span class="heading">{{ this.result.state}}</span>
                    <span class="description">State</span>
                  </div>
                  <div>
                    <span class="heading">{{ this.result.lastValue}}</span>
                    <span class="description">Last Value</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                {{ this.result.name }} 
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>IN Mine: {{this.result.inMine}}
              </div>
              
              <hr class="my-4" />
              
          </div>
        </div>
      </div>

      
      
    </div>
</div>
<div class="col-xl-12 mb-5 mt-3 mb-xl-0">
    <div class="card bg-gradient-default shadow">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            
            <h2 class="text-white mb-0">Report</h2>
          </div>
          <div class="col">
            <ul class="nav nav-pills justify-content-end">
              <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">
                <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                  <span class="d-none d-md-block">Month</span>
                  <span class="d-md-none">M</span>
                </a>
              </li>
              <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">
                <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                  <span class="d-none d-md-block">Week</span>
                  <span class="d-md-none">W</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- Chart -->
        <div class="chart">
          <!-- Chart wrapper -->
          <canvas id="chart-sales" class="chart-canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
    
    