<!-- Sidenav -->
<app-environmental-sidebar></app-environmental-sidebar>

<div class="main-content">
  <!-- Top navbar -->
  <app-environmental-navbar></app-environmental-navbar>
  <!-- Pages -->
  <router-outlet></router-outlet>

</div>
