<div class="header  pt-3 pt-lg-3 d-flex align-items-center" style="min-height: 400px;  background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center pb-7 ">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 class="display-2 text-white">{{ this.user.firstname }} {{ this.user.lastname }}</h1>
        
      </div>
    </div>
  </div>
</div>
<div class="container-fluid  mb-6  mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="/tracking/map" class="btn btn-sm btn-info mr-4">Back</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0  pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{ this.user.bloodType}}</span>
                  <span class="description">Blood Type</span>
                </div>
                <div>
                  <span class="heading">{{ this.user.Qualifications}}</span>
                  <span class="description">Education</span>
                </div>
                <div>
                  <span class="heading">{{ this.user.FirstAidLevel}}</span>
                  <span class="description">First Aid</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ this.user.firstname }} {{ this.user.lastname }}
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Pakistan
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Medical Notes
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>{{ this.user.MedicalNotes }}
            </div>
            <hr class="my-4" />
            
        </div>
      </div>
    </div>
    
  </div>
  