<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      </div>
  </div>
</div>
<div class="col-xl-12 order-xl-1 mt-4">
  <div class="card bg-secondary shadow ">
    <div class="card-header bg-white ">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Access Point Detail</h3>
        </div>
      </div>
    </div>
    <div class="card-body bg-white">
      <form [formGroup]="accessPointForm" (ngSubmit)="onSubmit()">
        <h6 class="heading-small text-muted mb-4">User information</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
              <label class="form-control-label" >Name</label>
              
              <input formControlName="name" type="text" id="name" required  class="form-control form-control-alternative" placeholder="Name" name="name">
              
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
              <label class="form-control-label" >Type</label>
              <select formControlName="type" class="form-control form-control-alternative" >
                <option [ngValue]="null" disabled>Select Type</option>
                <option *ngFor="let type of types" [ngValue]="type.name">{{type.name}}</option>
              </select>
              
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
              <label class="form-control-label" >App</label>
              <select formControlName="app" class="form-control form-control-alternative" >
                <option [ngValue]="null" disabled>Select App</option>
                <option *ngFor="let app of appes" [ngValue]="app.name">{{app.name}}</option>
              </select>
              
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
              <label class="form-control-label" >Parent</label>
              
              <input formControlName="parent" type="text" id="parent" required  class="form-control form-control-alternative" placeholder="parent" name="parent">
              
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
              <label class="form-control-label" >IP Address</label>
              
              <input formControlName="ipAddress" type="text" id="ipAddress" required  class="form-control form-control-alternative" placeholder="IP Address" name="ipAddress">
              
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
              <label class="form-control-label" >Port</label>
              
              <input formControlName="port" type="text" id="port" required  class="form-control form-control-alternative" placeholder="PORT" name="port">
              
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
              <label class="form-control-label" >Device ID</label>
              
              <input formControlName="deviceID" type="text" id="deviceID" required  class="form-control form-control-alternative" placeholder="Device ID" name="deviceID">
              
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
              <label class="form-control-label" >IN Mine</label>
              <select formControlName="inMine" class="form-control form-control-alternative" >
                <option [ngValue]="null" disabled>Select In Mine</option>
                <option *ngFor="let inMine of inMines" [ngValue]="inMine.name">{{inMine.name}}</option>
              </select>
              
              </div>
            </div>


          </div>
          
        </div>
        

        <button type="submit" class="btn btn-success col-lg-6">Submit</button>
      </form>
    </div>
  </div>
</div>
<div class="pt-5"></div>