<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        </div>
    </div>
  </div>
  <div class="col-xl-12 order-xl-1 mt-4">
    <div class="card bg-secondary shadow ">
      <div class="card-header bg-white ">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0"> Device Association</h3>
          </div>
        </div>
      </div>
      <div class="card-body bg-white">
        <form [formGroup]="deviceAssociationForm" (ngSubmit)="onSubmit()">
          <h6 class="heading-small text-muted mb-4">Device Association Detail</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                    <div class="form-group">
                    <label class="form-control-label" >Wifi Tag</label>
                    <select class="form-control form-control-alternative" formControlName="wifi_tags_id">
                        <option value="">Choose Wifi Tag</option>
                        <option *ngFor="let tag of wifi_tags" [value]="tag.id" >
                          {{tag.name}} | {{tag.tag_mac}}
                        </option>
                    </select>
                    </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                <label class="form-control-label" >Employee</label>
                <select class="form-control form-control-alternative" formControlName="employees_id" >
                    <option value="">Choose Employee</option>
                    <option *ngFor="let emp of employees" [value]="emp.id"  >
                      {{ emp.lastname }} , {{ emp.firstname }} 
                    </option>
                </select>
                </div>
          </div>
          
              
            </div>
          </div>
          <hr class="my-4" />
          <!-- Address -->
          
  
          <button type="submit" class="btn btn-success col-lg-6">Associate</button>
        </form>
      </div>
    </div>
  </div>
  <div class="pt-5"></div>