<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        </div>
    </div>
  </div>
  <div class="col-xl-12 order-xl-1 mt-4">
    <div class="card bg-secondary shadow ">
      <div class="card-header bg-white ">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Vehical Detail</h3>
          </div>
        </div>
      </div>
      <div class="card-body bg-white">
        <form [formGroup]="vehicalForm" (ngSubmit)="onSubmit()">
          <h6 class="heading-small text-muted mb-4">Vehical information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                    <div class="form-group">
                    <label class="form-control-label" >Serial Number</label>
                    <input formControlName="serialnumber" type="text" id="serialnumber" required  class="form-control form-control-alternative" placeholder="Serial Number" name="serialnumber">
                    <small class="error" *ngIf="f.serialnumber.invalid && (f.serialnumber.dirty || f.serialnumber.touched)">
                        <div *ngIf="f.serialnumber.hasError('required')">This field is required.</div>
                    </small>
                    </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                <label class="form-control-label" >Type</label>
                <input formControlName="vtype" type="text" id="vtype" required  class="form-control form-control-alternative" placeholder="Vehical Type" name="vtype">
                <small class="error" *ngIf="f.vtype.invalid && (f.vtype.dirty || f.vtype.touched)">
                    <div *ngIf="f.vtype.hasError('required')">This field is required.</div>
                </small>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Address -->
          <div class="pl-lg-4">
            <div class="form-group">
              <label class="form-control-label" >Notes/Description</label>
              <textarea rows="4" formControlName="vnotes" type="text" id="vnotes" required  class="form-control form-control-alternative" placeholder="Vehical Notes" name="vnotes">A few words about you ...</textarea>
            </div>
          </div>
  
          <button type="submit" class="btn btn-success col-lg-6">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="pt-5"></div>