<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" 
         aria-controls="sidenav-collapse-main">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
        <h3>Mine Safety</h3>
      </a>
      <!-- User -->
  
      <!-- Collapse -->
      <div class="collapse navbar-collapse"   id="sidenav-collapse-main">
        <!-- Collapse header -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <form class="navbar-search navbar-search-light form-inline mr-3 d-none d-md-flex ml-lg-auto">
                <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text" (focus)="focus = true"
                    (blur)="focus = false">
                  </div>
                </div>
              </form>
            </li>
          </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Navigation -->
  
        <div class="table-responsive ">
          <!-- Projects table -->
          <table class="table align-items-center table-flush table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class=" text-white"> Names </th>
                <th scope="col" class=" text-white"> Status </th>
                <th scope="col" class=" text-white"> Last Report </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th >
                  <a [routerLink]="['/environmental-tracking/environmental-map/sensorDetail/', 0]" >1-CO</a>
                </th>
                <th >
                  <span class="logged-in "> ● </span> Active
                </th>
                <th >
                  0 PPM
                </th>
              </tr>
              <tr>
                <th >
                  <a [routerLink]="['/environmental-tracking/environmental-map/sensorDetail/', 1]" >1-Airflow</a>
                </th>
                <th >
                  <span class="logged-in "> ● </span> Active
                </th>
                <th >
                  166.66 m3/s
                </th>
              </tr>
              <tr>
                <th >
                  <a [routerLink]="['/environmental-tracking/environmental-map/sensorDetail/', 2]" >1-Humidity</a>
                </th>
                <th >
                  <span class="logged-in "> ● </span> Active
                </th>
                <th >
                  78.3 %
                </th>
              </tr>
              <tr>
                <th >
                  <a [routerLink]="['/environmental-tracking/environmental-map/sensorDetail/', 3]" >1-NH3</a>
                </th>
                <th >
                  <span class="logged-in "> ● </span> Active
                </th>
                <th >
                  0 PPM
                </th>
              </tr>
              <tr>
                <th >
                  <a [routerLink]="['/environmental-tracking/environmental-map/sensorDetail/', 4]" >1-NO2</a>
                </th>
                <th >
                  <span class="logged-out "> ● </span> Not Active
                </th>
                <th >
                  0 PPM
                </th>
              </tr>
              <tr>
                <th >
                  <a [routerLink]="['/environmental-tracking/environmental-map/sensorDetail/', 5]" >1-O2</a>
                </th>
                <th >
                  <span class="logged-in "> ● </span> Active
                </th>
                <th >
                  20.6 %
                </th>
              </tr>
              <tr>
                <th >
                  <a [routerLink]="['/environmental-tracking/environmental-map/sensorDetail/', 6]" >1-Meth</a>
                </th>
                <th >
                  <span class="logged-in "> ● </span> Active
                </th>
                <th >
                  0 %
                </th>
              </tr>
              <tr>
                <th >
                  <a [routerLink]="['/environmental-tracking/environmental-map/sensorDetail/', 7]" >1-temperature</a>
                </th>
                <th >
                  <span class="logged-out "> ● </span> Not Active
                </th>
                <th >
                  25.3 deg C
                </th>
              </tr>
              
              
              
            </tbody>
          </table>
        </div>
  
        <!-- Heading -->
  
        <!-- Navigation -->
  
      </div>
    </div>
  </nav>
  