<!-- Sidenav -->
<app-tracking-sidebar></app-tracking-sidebar>

<div class="main-content">
  <!-- Top navbar -->
  <app-tracking-navbar></app-tracking-navbar>
  <!-- Pages -->
  <router-outlet></router-outlet>

</div>
